/** @format */

/** import **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

/** reset **/
html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-card {
  border-radius: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 2rem auto 0;
  padding: 0.4rem;
}

.contact-card__image {
  height: 250px;
  background-image: url("../images/ambient-landscape.avif");
  background-position: center;
  background-size: cover;
  border-radius: 1.2rem;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: column-reverse;
  line-height: 0.8;
  padding: 0 1.2rem;
  margin-top: 1.4rem;
}

.heading__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heading__subtitle {
  color: rgb(106, 106, 106);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.form {
  padding: 1.2rem;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__input-field {
  border: none;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  padding: 0.6rem;
}

.form__input-field:active,
.form__input-field:focus,
.form__input-field:focus-visible {
  border-color: bisque;
  outline: 2px solid bisque;
}

.form__input-field,
.form__submit-btn {
  transition: all 0.2s ease-in-out;
  outline: 0.8px solid rgb(170, 172, 174);
}

.form__message {
  height: 150px;
  resize: none;
}

.form__submit-btn {
  background-color: black;
  border: none;
  border-radius: 2rem;
  color: antiquewhite;
  cursor: pointer;
  font-weight: 600;
  height: 40px;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 150px;
}

.form__submit-btn:hover,
.form__submit-btn:active {
  background-color: rgb(96, 96, 96);
}

.footer {
  margin: 1rem auto 2rem;
}

.footer__text {
  text-align: center;
}

.required {
  color: red;
  font-weight: 500;
}

.contact-card,
.footer {
  max-width: 98%;
  width: 400px;
}
